<ion-content>
    <app-header title="Recipe"></app-header>
    <div class="recipe-container">
        <div class="list card item">
            <img class="recipe-image" ng-src="{{recipe.picture}}" />
        </div>
        <h1>{{recipe.name || "No Name"}}</h1>
        <p>{{recipe.description}}</p>
        <div class="left half">
            <i class="ion-clock"></i>
            Prep {{recipe.prepTime || 0}}
        </div>
        <div class="right half">
            <i class="ion-clock"></i>
            Cook {{recipe.cookTime || 0}}
        </div>
        <h3>Ingredients</h3>
        <hr/>
        <p ng-repeat="ingredient in recipe.ingredients">
            <span>-</span>{{ingredient}}
        </p>
        <h3>Directions</h3>
        <hr/>
        <p ng-repeat="direction in recipe.directions">
            <span>{{$index + 1}}</span>{{direction}}
        </p>
        <div class="stretch"></div>
    </div>
</ion-content>