/* Empty. Add your own CSS if you like */

header {
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    background: #008517;
    color: #fff;
    font-size: 2em;
    box-sizing: border-box;
}

.recipe-preview-container {
    width: 90%;
    margin: 10px auto;
    border: thin solid gray;
    box-sizing: border-box;
    padding: 5px;
}

.no-height {
    height: 0px;
    display: none;
    transition: all 3s ease;
}

.fullheight {
    height: auto;
    display: block;
}

.icon:hover {
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

.half {
    width: 50%;
    box-sizing: border-box;
}


.recipe-container {
    /*background-color: rgba(61, 60, 60, 0.8);*/
    /*color: #fff;*/
    padding: 10px;
}

.recipe-container hr { 
    margin: 0 0 25px 0;
    border: none;
    height: 2px;
    width: 80vw;
    background: linear-gradient(to right, #008517, rgba(0,0,0,0));
}
.recipe-container p {
    margin-left: 20px;
    
}

.recipe-container p span {
    font-size: 20px;
    margin-right: 5px;
    color: #008517;
}

.recipe-container .half {
    text-align: center;
}

.recipe-container .half i {
    color: #008517;
}